{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block script %}
<script src="{% static 'js/sampleData.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/buttons.html5.min.js' %}"></script>
{% endblock script %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.dataTables.min.css' %}">
{% endblock %}


{% block content %}
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{% url 'optionbd:index' %}">Option Premium Board</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{% url 'optionbd:index' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">BTC Primary</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
<!--                                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                                        <div class="small text-white">$ 50,000 <i class="fas fa-angle-right"></i> W 78,000,000</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">ETH Warning</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
<!--                                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                                        <div class="small text-white">$ 50,000 <i class="fas fa-angle-right"></i> W 78,000,000</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">SOL success</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
<!--                                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                                        <div class="small text-white">$ 50,000 <i class="fas fa-angle-right"></i> W 78,000,000</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">USDT danger</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
<!--                                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                                        <div class="small text-white">$ 50,000 <i class="fas fa-angle-right"></i> W 78,000,000</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area me-1"></i>
                                        Area Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Option DataTable
                            </div>
                            <div class="card-body">
                                <label for="exchange-select">Exchanges:</label>
                                <div id="exchange-checkboxes">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="ALL" id="exchange-all" checked>
                                        <label class="form-check-label" for="exchange-all">
                                            ALL
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="bn-drb" id="exchange-BN-DRB" >
                                        <label class="form-check-label" for="exchange-BN-DRB">
                                            -BN+DRB
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="bn-bb" id="exchange-BN-BB" >
                                        <label class="form-check-label" for="exchange-BN-BB">
                                            -BN+BB
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="bn-okx" id="exchange-BN-OKX" >
                                        <label class="form-check-label" for="exchange-BN-OKX">
                                            -BN+OKX
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="drb-bn" id="exchange-DRB-BN" >
                                        <label class="form-check-label" for="exchange-DRB-BN">
                                            -DRB+BN
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="bb-bn" id="exchange-BB-BN" >
                                        <label class="form-check-label" for="exchange-BB-BN">
                                            -BB+BN
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="okx-bn" id="exchange-OKX-BN" >
                                        <label class="form-check-label" for="exchange-OKX-BN">
                                            -OKX+BN
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="drb-bb" id="exchange-DRB-BB" >
                                        <label class="form-check-label" for="exchange-DRB-BB">
                                            -DRB+BB
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="drb-okx" id="exchange-DRB-OKX" >
                                        <label class="form-check-label" for="exchange-DRB-OKX">
                                            -DRB+OKX
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="bb-drb" id="exchange-BB-DRB" >
                                        <label class="form-check-label" for="exchange-BB-DRB">
                                            -BB+DRB
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="okx-drb" id="exchange-OKX-DRB" >
                                        <label class="form-check-label" for="exchange-OKX-DRB">
                                            -OKX+DRB
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="bb-okx" id="exchange-BB-OKX" >
                                        <label class="form-check-label" for="exchange-BB-OKX">
                                            -BB+OKX
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="okx-bb" id="exchange-OKX-BB" >
                                        <label class="form-check-label" for="exchange-OKX-BB">
                                            -OKX+BB
                                        </label>
                                    </div>
                                </div>
                                <label for="coin-select">Coins:</label>
                                <div id="coin-checkboxes">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input coin-checkbox" type="checkbox" value="ALL" id="coin-all" checked>
                                        <label class="form-check-label" for="coin-all">
                                            ALL
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input coin-checkbox" type="checkbox" value="BTC" id="coin-BTC" >
                                        <label class="form-check-label" for="coin-BTC">
                                            BTC
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input coin-checkbox" type="checkbox" value="ETH" id="coin-ETH" >
                                        <label class="form-check-label" for="coin-ETH">
                                            ETH
                                        </label>
                                    </div>
                                </div>
                                <label for="expiration-date-select">ExpireDates:</label>
                                <div id="expiration-date-checkboxes">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input expiration-checkbox" type="checkbox" value="ALL" id="expire-all" checked>
                                        <label class="form-check-label" for="expire-all">
                                            ALL
                                        </label>
                                    </div>
                                </div>
                                <label for="coin-select">Options:</label>
                                <div id="option-checkboxes">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input option-checkbox" type="checkbox" value="ALL" id="option-all" checked>
                                        <label class="form-check-label" for="option-all">
                                            ALL
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input option-checkbox" type="checkbox" value="C" id="option-C" >
                                        <label class="form-check-label" for="option-C">
                                            C
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input option-checkbox" type="checkbox" value="P" id="option-P" >
                                        <label class="form-check-label" for="option-P">
                                            P
                                        </label>
                                    </div>
                                </div>
                                <input type="hidden" value="Y" id="isRestart" >
                                <button id="stop-button">Stop</button>
                            </div>
                            <div class="card-body">
                                <table id="tickers-table" class="display compact" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Symbol</th>
                                            <th>Exs</th>
                                            <th>Expire</th>
                                            <th>Strike</th>
                                            <th>Type</th>
                                            <th data-orderable="false">SelPrice</th>
                                            <th data-orderable="false">SelQty</th>
                                            <th data-orderable="false">BuyPrice</th>
                                            <th data-orderable="false">BuyQty</th>
                                            <th>Margin</th>
                                            <th>Remain</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Symbol</th>
                                            <th>Exs</th>
                                            <th>Expire</th>
                                            <th>Strike</th>
                                            <th>Type</th>
                                            <th>SelPrice</th>
                                            <th>SelQty</th>
                                            <th>BuyPrice</th>
                                            <th>BuyQty</th>
                                            <th>Margin</th>
                                            <th>Remain</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

<script>


// var _websocket_adress = 'ws://localhost:8005';
var _websocket_adress = 'ws:/13.124.183.103:8005';
var _websocket;
var selectedExchange = [];
var selectedCoin = [];
var selectedOption = [];
var selectedExpiration = [];
var expirationDatesAll = [];
var optionData = {};
var table = $('#tickers-table').DataTable({
    paging: false, // 페이징 사용 안함.
    responsive: true,
    orderMulti: true,
    order: [[2, 'asc'], [3, 'asc'], [9, 'desc']],
    createdRow: function(row, data, dataIndex) {
        if (data[5] > data[7]) {
            const style = {
              'background-color': 'rgb(255, 204, 204)',
              'font-weight': 'bold'
            };

            $(row).css(style);
            $(row).find('td:nth-child(3), td:nth-child(4), td:nth-child(10)').css(style);
        }
    }
});

//option websocket init
function _option_init() {

    const currentTimeMillis = Date.now();
    const grade = 'vip';
    const paramStr = '?grade=' + grade + '&timestamp=' + currentTimeMillis;
    console.log(paramStr);

    _websocket = new WebSocket(_websocket_adress+paramStr);
    _websocket.onopen = function(e) { _option_open(e) };
    _websocket.onclose = function(e) { _option_close(e) };
    _websocket.onmessage = function(e) { _option_message(e) }
    _websocket.onerror = function(e) { _option_error(e) };

}
//option websocket open
function _option_open() {
    console.log("option webSocket opened !!!");
}
//option websocket close
function _option_close() {
    console.log("option webSocket closed !!!");
    console.log($('#isRestart').val());
    if($('#isRestart').val() == 'Y'){
        console.log("try reconnection !!!");
        _option_init();
    }
}
//option websocket open
function _option_error() {
    console.log( "option webSocket error : ", e.data );
}

//option websocket message process
function _option_message(e) {

    //console.log(event.data);
    //JSON Object 변환 및 추출
    jsonData = JSON.parse(event.data);
    optionData.expirationDates = jsonData.expireDate;
    optionData.tickers = jsonData.data;
    optionData.timestamp = jsonData.executeTime;
    updateTable(optionData);

}

// Option Datatable 갱신
function updateTable(optionData) {

    // OptionTickers가 유효하지 않으면 업데이트하지 않음
    if (!(optionData && optionData.tickers.length > 0 &&
       optionData.expirationDates && optionData.expirationDates.length>0)) {
        console.log("OptionTickers Invalid")
        return;
    }

    // 선택된 Exchange 수집
    selectedExchange = $('.exchange-checkbox:checked').map(function() {
        return this.value;
    }).get();

    // 선택된 Coin 수집
    selectedCoin = $('.coin-checkbox:checked').map(function() {
        return this.value;
    }).get();

    // 선택된 Option 수집
    selectedOption = $('.option-checkbox:checked').map(function() {
        return this.value;
    }).get();

    // 선택된 ExpireDate 수집
    selectedExpiration = $('.expiration-checkbox:checked').map(function() {
        return this.value;
    }).get();

    // ExpireDate 갱신
    populateExpirationCheckboxes(optionData.expirationDates, selectedExpiration);

    table.clear();

    // 데이터 갱신 및 하이라이트 처리
    $.each(optionData.tickers, function(index, ticker) {

        // 선택한 exchange, coin, expire, option 순으로 일치여부 확인
        if (selectedExchange.includes('ALL') || selectedExchange.includes(ticker.exs)) {
            if (selectedCoin.includes('ALL') || selectedCoin.includes(ticker.coin)) {
                if (selectedExpiration.includes('ALL') || selectedExpiration.includes(ticker.expire)) {
                    if (selectedOption.includes('ALL') || selectedOption.includes(ticker.optionType)) {

                        table.row.add([
                            ticker.coin,
                            ticker.exs,
                            ticker.expire,
                            ticker.strike,
                            ticker.optionType,
                            ticker.ask_price,
                            ticker.ask_qty,
                            ticker.bid_price,
                            ticker.bid_qty,
                            ticker.diff,
                            ticker.remainDate,
                        ]);

                    }
                }
            }
        }

    });

    // 테이블 다시 그리기
    table.draw();

    // 테이블 행에 하일라이트 추가

}

// ExpireDate Checkbox 갱신
function populateExpirationCheckboxes(expirationDates, selectedExpiration) {

    //console.log('expirationDates', expirationDates.toString());
    //console.log('selectedExpiration', selectedExpiration.toString());
    expirationDatesAll = expirationDatesAll.concat(expirationDates);
    expirationDatesAll = expirationDatesAll.filter((item, pos) => expirationDatesAll.indexOf(item) === pos).sort();
    //console.log('expirationDatesAll' ,expirationDatesAll.toString());

    // 기존 체크박스 제거 후 갱신
    const container = $('#expiration-date-checkboxes');
    container.empty();

    let allChecked = '';
    if(selectedExpiration.includes('ALL')){
        allChecked = 'checked'
    }
    // '전체' 선택 옵션 무조건 추가
    const allCheckboxHtml = `
        <div class="form-check form-check-inline" style="">
            <input class="form-check-input expiration-checkbox" type="checkbox" value="ALL" id="expire-all" ${allChecked}>
            <label class="form-check-label" for="expire-all">
                ALL
            </label>
        </div>
    `;
    container.prepend(allCheckboxHtml);

    expirationDatesAll.forEach(function(expireDate) {
        let checked = '';
        if(selectedExpiration.includes(expireDate)){
            checked = 'checked'
        }
        let displayMode = '';
        if(!expirationDates.includes(expireDate)){
            displayMode = 'display:none';
        }

        // 새로운 만료일만 추가
        const checkboxHtml = `
            <div class="form-check form-check-inline" style="${displayMode}">
                <input class="form-check-input expiration-checkbox" type="checkbox" value="${expireDate}" id="expire-${expireDate}" ${checked}>
                <label class="form-check-label" for="expire-${expireDate}">
                    ${expireDate}
                </label>
            </div>
        `;
        container.append(checkboxHtml);
    });


}

// Open option websocket
function doOpenOption() {
    //console.log('====> doOpenOptionTable');
    _option_init();
}

// close option websocket
function doCloseOption() {
  if (_websocket) {
    _websocket.close();
    _websocket = null;
  }
}

$(function() {

    // exchange-checkboxes event handler
    $('#exchange-checkboxes').on('change', '.exchange-checkbox', function() {
        $('.exchange-checkbox').not(this).prop('checked', false);
    });

    // coin-checkboxes event handler
    $('#coin-checkboxes').on('change', '.coin-checkbox', function() {
        $('.coin-checkbox').not(this).prop('checked', false);
    });

    // expiration-date-checkboxes event handler
    $('#expiration-date-checkboxes').on('change', '.expiration-checkbox', function() {
        if (this.value === 'ALL') {
            // '전체' 선택 시 다른 체크박스 해제
            $('.expiration-checkbox').not(this).prop('checked', false);
        } else {
            // '전체'를 제외한 다른 선택 시 '전체' 해제
            $('#expire-all').prop('checked', false);
        }
    });

    // option-checkboxes event handler
    $('#option-checkboxes').on('change', '.option-checkbox', function() {
        $('.option-checkbox').not(this).prop('checked', false);
    });

    // stop-button event handler
    $('#stop-button').on('click', function() {

        if (this.textContent === 'Stop') {
            this.textContent = 'Start'
            $('#isRestart').val('N')
            doCloseOption();

        } else {
            this.textContent = 'Stop'
            $('#isRestart').val('Y')
            doOpenOption();
        }
    });

    // 웹소켓 접속 및 데이터 갱신 시작
    doOpenOption();

});


</script>
{% endblock %}

/*
{"event":"error","msg":"Wrong URL or channel:tickers,instId:BTC-USD-230609 doesn't exist. Please use the correct URL, channel and parameters referring to API document.","code":"60018","connId":"24ce02d2"}
*/
