{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block script %}
<script src="{% static 'js/sampleData.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/websocket_binance_index.js' %}"></script>
<script src="{% static 'js/websocket_binance_ticker.js' %}"></script>
<script src="{% static 'js/websocket_optionbd.js' %}"></script>
<script src="{% static 'js/jquery.marquee.js' %}"></script>

{% endblock script %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
{% endblock %}


{% block content %}
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{% url 'optionbd:index' %}">
                <img src="{% static 'img/cryptopang_logo.png' %}" width="200" height="38" alt="cryptopang_logo">
            </a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                    <span class="tooltip-construction">Under Construction</span>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{% url 'optionbd:index' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>


                            <!-- 미구현 메뉴 Hidden 처리 -->
                            <!--

                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>

                            -->

                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">

                        <!-- coins-marquee BEGIN -->
                        <div class="row">
                            <div class="border-0">
								<div class="coins-marquee">
                                    <ul class="nav">
                                        <li>
                                            <img src="{% static 'img/coin/bitcoin.png' %}" alt="bitcoin">
                                            <span class="name">Bitcoin <small>btc</small></span>
                                            <span class="price binance_ticker_btc_price" id="binance_ticker_btc_price"></span>
                                            <span class="change binance_ticker_btc_change" id="binance_ticker_btc_change"></span>
                                        </li>
                                        <li>
                                            <img src="{% static 'img/coin/ethereum.png' %}" alt="ethereum">
                                            <span class="name">Ethereum <small>eth</small></span>
                                            <span class="price binance_ticker_eth_price" id="binance_ticker_eth_price"></span>
                                            <span class="change binance_ticker_eth_change" id="binance_ticker_eth_change"></span>
                                        </li>
                                        <li>
                                            <img src="{% static 'img/coin/bnb-icon2_2x.png' %}" alt="binancecoin">
                                            <span class="name">BNB <small>bnb</small></span>
                                            <span class="price binance_ticker_bnb_price" id="binance_ticker_bnb_price"></span>
                                            <span class="change binance_ticker_bnb_change" id="binance_ticker_bnb_change"></span>
                                        </li>
                                        <li>
                                            <img src="{% static 'img/coin/solana.png' %}" alt="solana">
                                            <span class="name">Solana <small>sol</small></span>
                                            <span class="price binance_ticker_sol_price" id="binance_ticker_sol_price"></span>
                                            <span class="change binance_ticker_sol_change" id="binance_ticker_sol_change"></span>
                                        </li>
                                        <li>
                                            <img src="{% static 'img/coin/ethereum-classic.png' %}" alt="ethereum-classic">
                                            <span class="name">Ethereum Classic <small>etc</small></span>
                                            <span class="price binance_ticker_etc_price" id="binance_ticker_etc_price"></span>
                                            <span class="change binance_ticker_etc_change" id="binance_ticker_etc_change"></span>
                                        </li>
                                        <li>
                                            <img src="{% static 'img/coin/xrp-symbol-white-128.png' %}" alt="ripple">
                                            <span class="name">XRP <small>xrp</small></span>
                                            <span class="price binance_ticker_xrp_price" id="binance_ticker_xrp_price"></span>
                                            <span class="change binance_ticker_xrp_change" id="binance_ticker_xrp_change"></span>
                                        </li>
                                        <li>
                                            <img src="{% static 'img/coin/dogecoin.png' %}" alt="dogecoin">
                                            <span class="name">Dogecoin <small>doge</small></span>
                                            <span class="price binance_ticker_doge_price" id="binance_ticker_doge_price"></span>
                                            <span class="change binance_ticker_doge_change" id="binance_ticker_doge_change"></span>
                                        </li>
                                        <li>
                                            <img src="{% static 'img/coin/bitcoin-cash-circle.png' %}" alt="bitcoin-cash">
                                            <span class="name">Bitcoin Cash <small>bch</small></span>
                                            <span class="price binance_ticker_bch_price" id="binance_ticker_bch_price"></span>
                                            <span class="change binance_ticker_bch_change" id="binance_ticker_bch_change"></span>
                                        </li>
                                    </ul>
								</div>
                            </div>
                        </div>
                        <!-- coins-marquee END -->

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="bi bi-activity me-1"></i>
                                Index Price
                            </div>
                            <div class="card-body">

                                <div class="index-price">
                                    <ul class="nav">
                                        <li>
                                            <img src="{% static 'img/coin/bitcoin.png' %}" alt="binance">
                                            <span class="name">Bitcoin</span>
                                            <span>$</span>
                                            <span id="binance_index_btc_price"></span>
                                        </li>
                                        <li>
                                            <img src="{% static 'img/coin/ethereum.png' %}" alt="okx">
                                            <span class="name">Ethereum</span>
                                            <span>$</span>
                                            <span id="binance_index_eth_price"></span>
                                        </li>
                                        <li>
                                            <img src="{% static 'img/coin/solana.png' %}" alt="bybit">
                                            <span class="name">Solana</span>
                                            <span>$</span>
                                            <span id="binance_index_sol_price"></span>
                                        </li>
                                        <li>
                                            <img src="{% static 'img/coin/xrp-symbol-white-128.png' %}" alt="deribit">
                                            <span class="name">XRP</span>
                                            <span>$</span>
                                            <span id="binance_index_xrp_price"></span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="bi bi-share-fill me-1"></i>
                                Affiliate Links
                            </div>
                            <div class="card-body">
                                <div class="affiliate-links">
                                    <ul class="nav">
                                        <li>
                                            <a href="https://accounts.binance.com/register?ref=WDXE1Y76" target="_blank">
                                                <img src="{% static 'img/exchange/binance.png' %}" alt="binance">
                                                <span class="name">BINANCE</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.okx.com/join/4944282" target="_blank">
                                                <img src="{% static 'img/exchange/okx_1.gif' %}" alt="okx">
                                                <span class="name">OKX</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://partner.bybit.com/b/86775" target="_blank">
                                                <img src="{% static 'img/exchange/bybit.png' %}" alt="bybit">
                                                <span class="name">Bybit</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.deribit.com/?reg=16926.1697" target="_blank">
                                                <img src="{% static 'img/exchange/deribit.svg' %}" alt="deribit">
                                                <span class="name">Deribit</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        BTC Volatility
                                    </div>
                                    <div class="card-body">

                                        <!-- TradingView Widget BEGIN -->
                                        <div class="tradingview-widget-container" style="height:100%;width:100%">
                                            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
                                            {
                                                "autosize": true,
                                                "height": 250,
                                                "symbol": "DERIBIT:DVOL",
                                                "interval": "D",
                                                "timezone": "Etc/UTC",
                                                "theme": "light",
                                                "style": "1",
                                                "locale": "en",
                                                "toolbar_bg": "#f1f3f6",
                                                "hide_volume": true,
                                                "allow_symbol_change": false
                                            }
                                            </script>
                                          </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar me-1"></i>
                                        ETH Volatility
                                    </div>
                                    <div class="card-body">


                                        <!-- TradingView Widget BEGIN -->
                                        <div class="tradingview-widget-container" style="height:100%;width:100%">
                                            <div class="tradingview-widget-container__widget" style="height:calc(100% - 32px);width:100%"></div>
                                            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
                                            {
                                                "autosize": true,
                                                "height": 250,
                                                "symbol": "DERIBIT:ETHDVOL",
                                                "interval": "D",
                                                "timezone": "Etc/UTC",
                                                "theme": "light",
                                                "style": "1",
                                                "locale": "en",
                                                "toolbar_bg": "#f1f3f6",
                                                "allow_symbol_change": false
                                             }
                                            </script>
                                          </div>
                                          <!-- TradingView Widget END -->

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Option Information
                            </div>
                            <div class="card-body">
                                <label for="exchange-checkboxes">Exchanges (BN: Binance. DRB: Deribit, OKX: Okx, BB: Bybit) :</label>
                                <div id="exchange-checkboxes">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="ALL" id="exchange-all" checked>
                                        <label class="form-check-label" for="exchange-all">
                                            ALL
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="bn-drb" id="exchange-BN-DRB" >
                                        <label class="form-check-label" for="exchange-BN-DRB">
                                            -BN+DRB
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="bn-bb" id="exchange-BN-BB" >
                                        <label class="form-check-label" for="exchange-BN-BB">
                                            -BN+BB
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="bn-okx" id="exchange-BN-OKX" >
                                        <label class="form-check-label" for="exchange-BN-OKX">
                                            -BN+OKX
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="drb-bn" id="exchange-DRB-BN" >
                                        <label class="form-check-label" for="exchange-DRB-BN">
                                            -DRB+BN
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="bb-bn" id="exchange-BB-BN" >
                                        <label class="form-check-label" for="exchange-BB-BN">
                                            -BB+BN
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="okx-bn" id="exchange-OKX-BN" >
                                        <label class="form-check-label" for="exchange-OKX-BN">
                                            -OKX+BN
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="drb-bb" id="exchange-DRB-BB" >
                                        <label class="form-check-label" for="exchange-DRB-BB">
                                            -DRB+BB
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="drb-okx" id="exchange-DRB-OKX" >
                                        <label class="form-check-label" for="exchange-DRB-OKX">
                                            -DRB+OKX
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="bb-drb" id="exchange-BB-DRB" >
                                        <label class="form-check-label" for="exchange-BB-DRB">
                                            -BB+DRB
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="okx-drb" id="exchange-OKX-DRB" >
                                        <label class="form-check-label" for="exchange-OKX-DRB">
                                            -OKX+DRB
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="bb-okx" id="exchange-BB-OKX" >
                                        <label class="form-check-label" for="exchange-BB-OKX">
                                            -BB+OKX
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input exchange-checkbox" type="checkbox" value="okx-bb" id="exchange-OKX-BB" >
                                        <label class="form-check-label" for="exchange-OKX-BB">
                                            -OKX+BB
                                        </label>
                                    </div>
                                </div>
                                <label for="coin-checkboxes">Symbols:</label>
                                <div id="coin-checkboxes">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input coin-checkbox" type="checkbox" value="ALL" id="coin-all" checked>
                                        <label class="form-check-label" for="coin-all">
                                            ALL
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input coin-checkbox" type="checkbox" value="BTC" id="coin-BTC" >
                                        <label class="form-check-label" for="coin-BTC">
                                            BTC
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input coin-checkbox" type="checkbox" value="ETH" id="coin-ETH" >
                                        <label class="form-check-label" for="coin-ETH">
                                            ETH
                                        </label>
                                    </div>
                                </div>
                                <label for="expiration-date-checkboxes">ExpireDates:</label>
                                <div id="expiration-date-checkboxes">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input expiration-checkbox" type="checkbox" value="ALL" id="expire-all" checked>
                                        <label class="form-check-label" for="expire-all">
                                            ALL
                                        </label>
                                    </div>
                                </div>
                                <label for="option-checkboxes">Options:</label>
                                <div id="option-checkboxes">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input option-checkbox" type="checkbox" value="ALL" id="option-all" checked>
                                        <label class="form-check-label" for="option-all">
                                            ALL
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input option-checkbox" type="checkbox" value="C" id="option-C" >
                                        <label class="form-check-label" for="option-C">
                                            C
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input option-checkbox" type="checkbox" value="P" id="option-P" >
                                        <label class="form-check-label" for="option-P">
                                            P
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <input type="hidden" value="Y" id="isRestart" >
                                            <button id="stop-button">Stop</button>
                                         </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="profit-threshold" class="form-label">Profit threshold ($)</label>
                                            <input type="range" class="form-range" min="0" max="100" step="1" id="profit-threshold" value="0" style="background: linear-gradient(to right, white 0%, white 100%);">
                                            <div class="tooltip-container" id="profit-threshold-tooltip">
                                                <span class="tooltip-text" id="profit-threshold-span" ></span>
                                                <input type="number" min="0" max="100" id="profit-threshold-span-number" style="display: none; width: 60px; text-align: right;">
                                                <span class="tooltip-text" id="profit-threshold-span-tail" style="display: none;">$</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="days-until-expiry" class="form-label">Days until expiry</label>
                                            <input type="range" class="form-range" min="0" max="365" step="1" id="days-until-expiry" value="365" style="background: linear-gradient(to right, white 0%, white 100%);">
                                            <div class="tooltip-container" id="days-until-expiry-tooltip">
                                                <span class="tooltip-text" id="days-until-expiry-span"></span>
                                                <input type="number" min="0" max="365" id="days-until-expiry-span-number" style="display: none; width: 60px; text-align: right;">
                                                <span class="tooltip-text" id="days-until-expiry-span-tail" style="display: none;">days</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <table id="tickers-table" class="display compact" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Symbol</th>
                                            <th>Exs</th>
                                            <th>Expire</th>
                                            <th>Strike</th>
                                            <th>Type</th>
                                            <th data-orderable="false">SellP</th>
                                            <th data-orderable="false">BuyP</th>
                                            <th data-orderable="false">TotalFee</th>
                                            <th data-orderable="false">OTM</th>
                                            <th>TotalCost</th>
                                            <th>Profit/Q</th>
                                            <th data-orderable="false">Qty</th>
                                            <th>Eff.(%)</th>
                                            <th>Remain</th>
                                            <th>hidden_qty_detail</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Symbol</th>
                                            <th>Exs</th>
                                            <th>Expire</th>
                                            <th>Strike</th>
                                            <th>Type</th>
                                            <th>SellP</th>
                                            <th>BuyP</th>
                                            <th>TotalFee</th>
                                            <th>OTM</th>
                                            <th>TotalCost</th>
                                            <th>Profit/Q</th>
                                            <th>Qty</th>
                                            <th>Eff.(%)</th>
                                            <th>Remain</th>
                                            <th>hidden_qty_detail</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Crytopang.com 2024</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted"></div>
                            <div class="text-muted">
                                contact : contact9853@gmail.com
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

<script>

// Datatable 최기 세팅
const table = $('#tickers-table').DataTable({
    "columnDefs": [
      {
        "targets": -1,
        "visible": false
      }
    ],
    paging: false, // 페이징 사용 안함.
    responsive: true,
    orderMulti: true,
    order: [[3, 'asc'], [10, 'desc']],
    initComplete: function() {
      this.api().columns().every(function() {
        var column = this;
        var header = $(column.header());
        header.css('text-align', 'center');
        var footer = $(column.footer());
        footer.css('text-align', 'center');
      });
    },
    createdRow: function(row, data, dataIndex) {

        const style_text_right = {
          'text-align': 'right'
        };
        const style_text_center = {
          'text-align': 'center'
        };
        const style_text_red = {
          'color': 'red'
        };
        const style_text_green = {
          'color': 'green'
        };
        const style_highlight = {
          'background-color': 'rgb(255, 228, 225)',
          'font-weight': 'bold',
          'text-align': 'right'
        };

        $(row).attr('id', data[0] +'-'+ data[1] +'-'+ data[2] +'-'+ data[3] +'-'+ data[4]);
        $(row).css(style_text_right);

        const profit = parseFloat(data[10].replace(",", ""));
        if (profit > 0) {
            $(row).css(style_highlight);
            $(row).find('td').css(style_highlight);
        }

        const qty_array = data[14].split(":").map(Number);
        if (qty_array[0] === qty_array[1]) {
            $(row).find('td:nth-child(12)').text(qty_array[0])
            $(row).find('td:nth-child(12)').css(style_text_red);
        } else if (qty_array[0] === qty_array[2]){
            $(row).find('td:nth-child(12)').text(qty_array[0])
            $(row).find('td:nth-child(12)').css(style_text_green);
        } else {
            console.log("첫 번째 값과 같은 값이 없습니다.");
        }

        $(row).find('td:nth-child(1)').addClass("dt-control");
        $(row).find('td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(5)').css(style_text_center);
        $(row).find('td:nth-child(6)').css(style_text_red);
        $(row).find('td:nth-child(7)').css(style_text_green);

    }
});

const detailRows = [];

table.on('click', 'tbody td.dt-control', function () {
    let tr = event.target.closest('tr');
    let row = table.row(tr);
    let idx = detailRows.indexOf(tr.id);

    if (row.child.isShown()) {
        tr.classList.add('parent');
        row.child().show();
        if (idx === -1) {
            detailRows.push(tr.id);
        }
    }
    else {
        tr.classList.remove('parent');
        row.child.hide();
        detailRows.splice(idx, 1);
    }
});

table.on('draw', () => {
    detailRows.forEach((id, i) => {
        let el = document.querySelector('#' + id + ' td.dt-control');

        if (el) {
            el.dispatchEvent(new Event('click', { bubbles: true }));
        }
    });
});


// exchange-checkboxes event handler
$('#exchange-checkboxes').on('change', '.exchange-checkbox', function() {
    if (this.value === 'ALL') {
        // '전체' 선택 시 다른 체크박스 해제
        $('.exchange-checkbox').not(this).prop('checked', false);
    } else {
        // '전체'를 제외한 다른 선택 시 '전체' 해제
        $('#exchange-all').prop('checked', false);
    }
});

// coin-checkboxes event handler
$('#coin-checkboxes').on('change', '.coin-checkbox', function() {
    $('.coin-checkbox').not(this).prop('checked', false);
});

// expiration-date-checkboxes event handler
$('#expiration-date-checkboxes').on('change', '.expiration-checkbox', function() {
    if (this.value === 'ALL') {
        // '전체' 선택 시 다른 체크박스 해제
        $('.expiration-checkbox').not(this).prop('checked', false);
    } else {
        // '전체'를 제외한 다른 선택 시 '전체' 해제
        $('#expire-all').prop('checked', false);
    }
});

// option-checkboxes event handler
$('#option-checkboxes').on('change', '.option-checkbox', function() {
    $('.option-checkbox').not(this).prop('checked', false);
});

// stop-button event handler
$('#stop-button').on('click', function() {

    if (this.textContent === 'Stop') {
        this.textContent = 'Start'
        $('#isRestart').val('N')
        doCloseOption();

    } else {
        this.textContent = 'Stop'
        $('#isRestart').val('Y')
        doOpenOption();
    }
});

//range 및 tooltip 설정 관련
const profitThresholdRange = document.getElementById('profit-threshold');
const profitThresholdTooltip = document.getElementById('profit-threshold-tooltip');
const profitThresholdSpan = document.getElementById('profit-threshold-span');
const profitThresholdSpanNumber = document.getElementById('profit-threshold-span-number');
const profitThresholdSpanTail = document.getElementById('profit-threshold-span-tail');
const daysUntilExpiryRange = document.getElementById('days-until-expiry');
const daysUntilExpiryTooltip = document.getElementById('days-until-expiry-tooltip');
const daysUntilExpirySpan = document.getElementById('days-until-expiry-span');
const daysUntilExpirySpanNumber = document.getElementById('days-until-expiry-span-number');
const daysUntilExpirySpanTail = document.getElementById('days-until-expiry-span-tail');

// profitThresholdRange event handler
profitThresholdRange.addEventListener('input', () => {
    profitThresholdSpan.textContent = profitThresholdRange.value;
    profitThresholdSpan.style.display = 'none';
    profitThresholdSpanTail.style.display = 'inline';
    profitThresholdSpanNumber.value = profitThresholdRange.value;
    profitThresholdSpanNumber.style.display = 'inline';
    updateTooltipPosition(profitThresholdRange, profitThresholdTooltip);
});

// daysUntilExpiryRang event handler
daysUntilExpiryRange.addEventListener('input', () => {
    daysUntilExpirySpan.textContent = daysUntilExpiryRange.value;
    daysUntilExpirySpan.style.display = 'none';
    daysUntilExpirySpanTail.style.display = 'inline';
    daysUntilExpirySpanNumber.value = daysUntilExpiryRange.value;
    daysUntilExpirySpanNumber.style.display = 'inline';
    updateTooltipPosition(daysUntilExpiryRange, daysUntilExpiryTooltip);
});

// profitThresholdSpanNumber event handler
profitThresholdSpanNumber.addEventListener('input', () => {
    if (profitThresholdSpanNumber.value.trim() === "") {
      profitThresholdSpanNumber.value = 0;
    }else{
        profitThresholdSpanNumber.value = parseInt(profitThresholdSpanNumber.value.trim(), 10);
        if (profitThresholdSpanNumber.value < 0) {
            profitThresholdSpanNumber.value = 0;
        }
        if (profitThresholdSpanNumber.value > 100) {
            profitThresholdSpanNumber.value = 100;
        }
    }
    profitThresholdRange.value = profitThresholdSpanNumber.value;
    profitThresholdSpan.textContent = profitThresholdRange.value;
});

// daysUntilExpirySpanNumber event handler
daysUntilExpirySpanNumber.addEventListener('input', () => {
    if (daysUntilExpirySpanNumber.value.trim() === "") {
        daysUntilExpirySpanNumber.value = 0;
    }else{
        daysUntilExpirySpanNumber.value = parseInt(daysUntilExpirySpanNumber.value.trim(), 10);
        if (daysUntilExpirySpanNumber.value < 0) {
            daysUntilExpirySpanNumber.value = 0;
        }
        if (daysUntilExpirySpanNumber.value > 365) {
            daysUntilExpirySpanNumber.value = 365;
        }
    }
    daysUntilExpiryRange.value = daysUntilExpirySpanNumber.value;
    daysUntilExpirySpan.textContent = daysUntilExpiryRange.value;
});

function updateTooltipPosition(range, tooltip) {
    const rangeRect = range.getBoundingClientRect();
    tooltip.style.left = rangeRect.left + (rangeRect.width / 2) - (tooltip.offsetWidth / 2) + 'px';
    tooltip.style.top = rangeRect.top - tooltip.offsetHeight - 10 + 'px'; // Adjust top position as needed
}

//referral-code & copy-button event handler
const referralCodes = document.querySelectorAll('span.referral-code');
referralCodes.forEach(referralCode => {
    const copyButton = document.createElement('span');
    copyButton.classList.add('copy-button');
    copyButton.textContent = 'Copy';
    referralCode.appendChild(copyButton);
    copyButton.addEventListener('click', (event) => {
        navigator.clipboard.writeText(referralCode.childNodes[0].textContent.trim())
            .then(() => {
                copyButton.textContent = 'Copied';
                setTimeout(() => {
                    copyButton.textContent = 'Copy';
                }, 1500);
            })
            .catch(err => {
                console.error('referralCode Copy Failure: ', err);
            });
    });
});

//coins-marquee handler
$('.coins-marquee').marquee({
    duration: 3e4, // 속도
    gap: 1, // 간격
    delayBeforeStart: 500, // 시작 delay값
    direction: 'left', // 방향
    duplicated: true, // 선택 영역 복제
    pauseOnHover: true, // hover시 일시중지 여부
    startVisible: true,
});


$(function() {

    // Option table 관련 웹소켓 접속 및 데이터 갱신 시작
    doOpenOption();

    // 실시간 Index Price 관련 웹소켓 접속 및 데이터 갱신 시작
    doOpenBinanceIndex();

    // 실시간 Ticker Price 관련 웹소켓 접속 및 데이터 갱신 시작
    doOpenBinanceTicker();

});

</script>

{% endblock %}

/*
{"event":"error","msg":"Wrong URL or channel:tickers,instId:BTC-USD-230609 doesn't exist. Please use the correct URL, channel and parameters referring to API document.","code":"60018","connId":"24ce02d2"}
*/
