{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dsmain.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/buttons.html5.min.js' %}"></script>
{% endblock %}


{% block content %}
<body>
    <div class="wrap">
        <h1>Option Premium Dashboard</h1>
        <form>
                <div class="form-group" id="date_range">
                    <label for="date_range" >
                        Select range : &nbsp
                    </label>

                    <input type="radio" name="date_range" value="latest" checked> latest &nbsp</label>
                    <input type="radio" name="date_range" value="onehour"> 1 hour &nbsp</label>
                    <input type="radio" name="date_range" value="threehour"> 3 hour &nbsp</label>
                    <input type="radio" name="date_range" value="sixhour"> 6 hour &nbsp</label>
                    <input type="radio" name="date_range" value="day"> a day &nbsp</label>
                    <input type="radio" name="date_range" value="threeday"> 3 day &nbsp</label>
                    <input type="radio" name="date_range" value="week"> week &nbsp</label>
                    <input type="radio" name="date_range" value="month"> month &nbsp</label>
<!--                    <input type="radio" name="date_range" value="all"> all &nbsp</label>-->
                    <input type="button" class="btn btn-primary btn-lg" value="Loading" id="refresh">
                </div>

        </form>

        <label for="expiration-date-select">만기일 선택:</label>
        <select id="expiration-date-select">
        <option value="all" selected>전체</option>
        </select>
        <button id="reload-button">새로 고침</button>

        <table id="tickers-table" class="display" style="width:100%;">
            <thead>
              <tr>
                <th>거래소</th>
                <th>코인 심볼</th>
                <th>만기일</th>
                <th>행사가</th>
                <th>옵션 유형</th>
                <th data-orderable="false">매도 호가</th>
                <th data-orderable="false">매도 수량</th>
                <th data-orderable="false">매수 호가</th>
                <th data-orderable="false">매수 수량</th>
                <th>차이</th>
                <th>남은 만기일</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>

<script>
// 참고 문헌 https://datatables.net/

$(document).ready(function() {
      var Tickers = {
        'okx': {
          'btc': {
            '240217': {
              '45000': {
                'C': {'askPrice': 110, 'askQty': 10, 'bidPrice': 100, 'bidQty': 320, 'diff': 10, 'remainDate': '45'},
                'P': {'askPrice': 105, 'askQty': 10, 'bidPrice': 101, 'bidQty': 320, 'diff': 20, 'remainDate': '50'},
              }
            }
          },
          'eth': {
            '240217': {
              '46000': {
                'C': {'askPrice': 111, 'askQty': 10, 'bidPrice': 100, 'bidQty': 320, 'diff': 30, 'remainDate': '40'},
                'P': {'askPrice': 115, 'askQty': 10, 'bidPrice': 101, 'bidQty': 320, 'diff': 40, 'remainDate': '51'},
              }
            }
          }
        },
        'binance': {
          'btc': {
            '240217': {
              '47000': {
                'C': {'askPrice': 111, 'askQty': 10, 'bidPrice': 100, 'bidQty': 320, 'diff': 5, 'remainDate': '49'},
                'P': {'askPrice': 115, 'askQty': 10, 'bidPrice': 101, 'bidQty': 320, 'diff': 15, 'remainDate': '59'},
              }
            }
          },
          'eth': {
            '240217': {
              '45000': {
                'C': {'askPrice': 112, 'askQty': 10, 'bidPrice': 100, 'bidQty': 320, 'diff': 35, 'remainDate': '40'},
                'P': {'askPrice': 100, 'askQty': 10, 'bidPrice': 101, 'bidQty': 320, 'diff': 45, 'remainDate': '51'},
              }
            }
          }
        },
        'debis': {
          'btc': {
            '240219': {
              '44000': {
                'C': {'askPrice': 111, 'askQty': 10, 'bidPrice': 100, 'bidQty': 320, 'diff': 60, 'remainDate': '42'},
                'P': {'askPrice': 101, 'askQty': 10, 'bidPrice': 101, 'bidQty': 320, 'diff': 30, 'remainDate': '53'},
              }
            }
          },
          'eth': {
            '240219': {
              '50000': {
                'C': {'askPrice': 110, 'askQty': 10, 'bidPrice': 100, 'bidQty': 320, 'diff': 20, 'remainDate': '44'},
                'P': {'askPrice': 115, 'askQty': 10, 'bidPrice': 101, 'bidQty': 320, 'diff': 10, 'remainDate': '54'},
              }
            }
          }
        },
      };

      // Initialize DataTable
      var table = $('#tickers-table').DataTable({
              responsive: true,
              orderMulti: true,
              order : [[9, 'desc'],[10, 'asc']],
      });

      // Populate expiration date select options
      var expirationDates = [];
      $.each(Tickers, function(exchange, coins) {
        $.each(coins, function(coin, expirations) {
          $.each(expirations, function(expiration, strikes) {
            if (!expirationDates.includes(expiration)) {
              expirationDates.push(expiration);
              $('#expiration-date-select').append($('<option>', {
                value: expiration,
                text: expiration
              }));
            }
          });
        });
      });

      // Reload button click handler
      $('#reload-button').click(function() {
        table.clear().draw();
        populateTable(table);
      });

      // Populate table initially
      populateTable(table);

      // Expiration date select change handler
      $('#expiration-date-select').change(function() {
        var selectedExpiration = $(this).val();
        table.clear().draw();
        populateTable(table, selectedExpiration);
      });

      // Function to populate table based on selected expiration date
      function populateTable(table, selectedExpiration = 'all') {
        $.each(Tickers, function(exchange, coins) {
          $.each(coins, function(coin, expirations) {
            $.each(expirations, function(expiration, strikes) {
              if (selectedExpiration === 'all' || selectedExpiration === expiration) {
                $.each(strikes, function(strike, options) {
                  $.each(options, function(optionType, optionData) {
                    table.row.add([
                      exchange,
                      coin,
                      expiration,
                      strike,
                      optionType,
                      optionData.askPrice,
                      optionData.askQty,
                      optionData.bidPrice,
                      optionData.bidQty,
                      optionData.diff,
                      optionData.remainDate
                    ]).draw(false);
                  });
                });
              }
            });
          });
        });
      }
    });
</script>

{% endblock %}